<hr>
<hr>

<h1> Create New Project </h1>
<hr>


 
  <%if @project.errors.any? %>
    <ul>
    <% @project.errors.full_messages.each do |msg| %>
    <li> <%= msg %> </li>
    <%end%>
    </ul>
  <%end%>


<div class="form-field">
<%=form_for @project do |x| %> 
    <%=x.label :title%>
    <%=x.text_field :title, class:"form-control" %> 
    <%=x.label :body%>
    <%=x.text_area :body, class:"form-control"%>
    <%=x.submit class: "btn btn-default"%>
<%end%> 
</div>








