<%=link_to "back", projects_path%>
<h1> Current Project </h1>
<hr>
<hr>
<hr>
<h3> Project title </h3>
<%=@project.title%>
<br>
<h3> Project body </h3>
<%=@project.body%>
<br>
<%=link_to "Edit this project", edit_project_path %>
<br>
<%=link_to "Delete this project", project_path, method: :delete, 
data: { confirm: "Are you Sure?"} %>
<hr>
<hr>



<h1> Current Tasks </h1>
<hr>
<hr>
<hr>
<% @tasks.each do |task| %>
<h4> Task Title </h4>
<%= task.title %>
<br>
<h4> Task body </h4>
<%= task.body %>
<hr>
<%end%>


<hr>
<h4> Create a new task for this project </h4>

<%=form_for @task, url: project_tasks_path(@project) do |x| %>
<%=x.label :title%>
<%=x.text_area :title %>
<br>
<%=x.label :body %>
<%=x.text_area :body %>
<br>
<%=x.submit %>


<%#= button_to() ,method: post %>


<%end%> 