<!DOCTYPE html>
<html>
<head>
  <title>Pmtools2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> 
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="stylesheets/coolstyles">
  <link rel="stylesheet" href="animate.min.css">

</head>
<body>
<nav class="navbar navbar-inverse">
<div class="container-fluid"> 


 <ul> 
  <%=link_to "Project Index", projects_path %> 
  <%=link_to "New Project", new_project_path %> 
  <li class="navbar-right"><%=link_to "Logout", destroy_user_session_path,
            :method => :delete, class: "btn btn-info" %> </li>
</ul> 


</div>
</nav>

<%= yield %>

<hr>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

</body>
</html>
