<!DOCTYPE html>
<html>
  <head>
    <title>Projex</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> 
    <%= csrf_meta_tags %>
  </head>
  <body>
      <div class="background-image">
        <div class="header-nav col-md-12">
          <div class="row color-stand"> 

            
            <div class="col-md-10">
                  
                  <%=link_to projects_path do %>
                    <i class="fa fa-home"></i>
                  <% end %>&nbsp;&nbsp; 
                  <%=link_to new_project_path do %>
                    <i class="fa fa-plus"></i>
                  <% end %>

            </div>
       
            <div class="col-md-2">

              <%=link_to new_user_session_path, class: "e-font-a" do %>
                Enter&nbsp;&nbsp;<i class="fa fa-sign-in"></i> 
              <% end %>&nbsp;&nbsp;
              <%=link_to destroy_user_session_path,
              :method => :delete, class: "e-font-b" do %>
                Exit&nbsp;&nbsp;<i class="fa fa-sign-out"></i>
              <% end %> 

            </div>
      


          </div>
        </div>
      </div>

    <%= yield %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  </body>
</html>
